body{

margin:0;

background:#48B7FF;

font-family:Arial,sans-serif;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

#loading-screen{

text-align:center;

}

h1{

font-size:48px;

margin-bottom:10px;

}

p{

font-size:22px;

}
